.search-form {
	background-color: #474747;
	width: 100%;
	height: 100vh;
	color: #A8A7A8;

	&__submit {
		background-color: #E8175D;
		border: none;
		border-radius: unset;
		height: 38px;
		width: 60px;

		&:hover {
			background-color: #CC527A;
		}
	}

	&__search-box {
		border: none;
		border-radius: unset;
		width: 135px;
	}
}