.search-form {
	width: 100%;
	color: #A8A7A8;
	padding-left: 5%;
	padding-right: 5%;

	&__submit {
		background-color: #E8175D;
		border: none;
		border-radius: unset;
		height: 38px;
		width: 60px;

		&:hover {
			background-color: #CC527A;
		}
	}

	&__search-box {
		border: none;
		border-radius: unset;
		width: 200px;
	}

	&__search-bar {
		padding-left:0;
		// padding-right: 0;
	}
	&__search-button {
		padding-right: 0;
	}
	&__genre-list {
		width: 260px;
		border: none;
		border-radius: unset;
	}
	&__cancel-button{
		background-color: #A8A7A8;
		border: none;
		border-radius: unset;
		height: 38px;

		&:hover {
			background-color: #CC527A;
		}
	}
	&__genre-label{
		text-align: right;
	}
}