/*
	---COLOR SCHEME---
	
	lighter grey:	A8A7A8
	lighter red:	CC527A
	redish pink:	E8175D
	darker grey:	474747
	darkest grey:	363636
*/

.App {

  &__hero {
  	font-family: 'Poiret One', sans-serif;
  	text-align: center;
  	font-size: 10rem;
  	color: #A8A7A8;
  	padding: 5% 0;
  }
}


