/*
	---COLOR SCHEME---
	
	lighter grey:	A8A7A8
	lighter red:	CC527A
	redish pink:	E8175D
	darker grey:	474747
	darkest grey:	363636
*/

.App {
  background-color: #363636;
  height: 100vw;
  padding-top: 5%;
}


